@import "layout";

// Home Slider

.info-hero {
  background-image: linear-gradient(
    to right bottom,
    #02082a,
    #011139,
    #011139,
    #031749,
    #0a1b59
  );
}

// About Section
.info-home-about-combine {
  background-image: linear-gradient(
    to right bottom,
    #01113a,
    #03174a,
    #091a56,
    #020a2e,
    #020a2e
  );
}
.info-home-about {
  background-image: url(../assets/img/core-img/aboutbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

// Artificial Inteligence
.info-home-ai {
}

.info-home-spacetech {
  background-image: url(../assets/img/core-img/SpaceTechnology.png);
  background-size: cover;
  background-repeat: no-repeat;
  .info-home-space-detail {
    background-color: #00000057;
  }
}


.info-home-servetech {

}

.info-home-servetech-card {
  background-image: linear-gradient(to bottom, #41bff9, #00a6fe, #008bff, #006cf9, #1446e9);
}

// About Us Page

.inabout-hero {
  background-color: var(--color-blue-zodiac);
}
.iabout-mission-cards {
  background-color: var(--color-blue-zodiac);
}

.card.iab-counter {
  background-color: transparent;
}



/* ===============================================================
			Testimonail Grid Gallery Start
================================================================*/

.testi-blog-sec .grid {
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(23.33333%, 1fr));
	grid-template-rows: minmax(250px, auto);
	grid-auto-flow: dense;
	grid-gap: 10px;
}

.testi-blog-sec .grid .grid-item {
	display: grid;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	background-color: #707070;
}

.testi-blog-sec .grid .grid-item:nth-child(1) {
	grid-column: span 4;
	grid-row: span 4;
}

.testi-blog-sec .grid .grid-item:nth-child(2) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(3) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(4) {
	grid-column: span 4;
	grid-row: span 4;
}

.testi-blog-sec .grid .grid-item:nth-child(5) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(6) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(7) {
	grid-column: span 4;
	grid-row: span 4;
}

.testi-blog-sec .grid .grid-item:nth-child(8) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(9) {
	grid-column: span 2;
	grid-row: span 2;
}

.testi-blog-sec .grid .grid-item:nth-child(10) {
	grid-column: span 4;
	grid-row: span 4;
}


.testi-blog-sec .grid .grid-item .testi-title-wrapper {
	// background: #ff00004d;
	padding: .5rem 1rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	text-shadow: 0px 3px 6px #00000047;
	text-align: center;
}

.testi-blog-sec .grid .grid-item .testi-title-wrapper .imcaptionb {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	color: #fff;
}

// .testi-blog-sec .grid .grid-item:nth-child(1) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(5) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(8) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(10) .testi-title-wrapper {
// 	background: rgba(141, 198, 67, 0.8);
// }

// .testi-blog-sec .grid .grid-item:nth-child(2) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(4) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(9) .testi-title-wrapper {
// 	background: rgb(179 113 144 / 67%);
// }

// .testi-blog-sec .grid .grid-item:nth-child(3) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(6) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(7) .testi-title-wrapper,
// .testi-blog-sec .grid .grid-item:nth-child(11) .testi-title-wrapper {
// 	background: rgba(248, 177, 141, 0.78);
// }


@media (max-width: 767px){
	
	.testi-blog-sec .grid .grid-item:nth-child(1) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.testi-blog-sec .grid .grid-item:nth-child(2) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.testi-blog-sec .grid .grid-item:nth-child(3) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.testi-blog-sec .grid .grid-item:nth-child(4) {
		grid-column: span 2;
		grid-row: span 3;
	}

	.testi-blog-sec .grid .grid-item:nth-child(5) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.testi-blog-sec .grid .grid-item:nth-child(6) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.testi-blog-sec .grid .grid-item:nth-child(7) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.testi-blog-sec .grid .grid-item:nth-child(8) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.testi-blog-sec .grid .grid-item:nth-child(9) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.testi-blog-sec .grid .grid-item:nth-child(10) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.testi-blog-sec .grid .grid-item:nth-child(11) {
		grid-column: span 2;
		grid-row: span 1;
	}
}

/* ===============================================================
			Testimonail Grid Gallery End
================================================================*/