html {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue-zodiac: #0C1235;












  --color-white-mode: #efefef;
  --color-grey-mode: #919191;
  --color-bgwhite-mode: #0c0e1c;
  --color-bggallery-mode: #000000;
  --color-midblack-mode: #ffffff;
  --color-bgwallet-mode: #0e0e0eb3;
  --color-chart-mode: #cdcdcd;
  // End Dark Mode Palletes
  --color-cod-grey: #080808;
  --color-grey: #919191;
  --color-dark-red: #da2b2b;
  --color-blue: #0057ff;
  --color-ebony: #0c0e1c;
  --color-ebony-lite: #181c36;
  --color-gallery: #efefef;
  --color-dark: #212121;
  --color-inpur-grey: #e1e1e1;
  --color-gold: #a97002;
  --color-yellow: #ffc107;
  --color-nero: #100e00;
}
  


html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// constant
.white {
  color: var(--color-white);
}
.color-grey {
  color: var(--color-grey);
}
// change with mode
.white-mode {
  color: var(--color-white-mode);
}
.black {
  color: var(--color-black);
}
.grey-color {
  color: var(--color-grey-mode);
}
.blue {
  color: var(--color-blue-cornflower);
}
.dark-red {
  color: var(--color-dark-red);
}

.gold-color {
  color: var(--color-gold);
}
.chartmode {
  background-color: var(--color-chart-mode);
}
